
body {
    --s: 200px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
    
    background:
      repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
       calc(.5*var(--s)) calc(.5*var(--s)*0.577),
      repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s)*0.577);
  }

.main_container{
    width: 100%;
    margin: auto;
    
}

.backdrop{
    background-image: url("https://source.unsplash.com/800x200/?box ");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    
}
.header-content{
    display: flex;
    height: 30vh;
}
.card{
    margin: auto;
    margin-top: 1%;
}
.logo img{
    width: 60%;
    margin: auto;
    margin-top: 10%;
}
.profile{
    width: 100%;
    margin-top: 5%;
}

.profile img{
    border-radius: 50%;
    width: 20%;
    margin-top: -5%;
}
.h-80{
    background-color: rgba(3, 161, 53, 0.695);
    color: aliceblue;
    height: fit-content;
}

.card-body a{
    margin-left: -80%;
    margin-top: -9%;
} 
.card-body p{
    margin-top: -14%;
} 
.h-70{
    border: none;
    width: 100%;
    height: 200px;
    margin: auto;
}
.header-width{
    width: 100%;
}

.fa {
padding: 17px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }

  .fa-globe {
    background: #3B5998;
    color: white;
    
  }
  .fa-phone {
    background: #3B5998;
    color: white;
    
    
  }
  .fa-whatsapp {
    background: #3B5998;
    color: white;
    
  }
  .fa-google {
    background: #3B5998;
    color: white;
    
  }
  .mid-part{
    padding: 1.5%;
  }
  .cat{
    width: 20%;
    display: flex;
  
  }



  

 
  .social-list{
    display: flex;
    width: 320px;
    margin: auto;

    list-style-type: none;
    padding: 2%;
    
  }
  .social-list li{
    padding: 1%;
  }
  
  
  .fa-instagram {
    background: #3B5998;
    color: white;
    
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
    
  }
  .fa-twitter {
    background: #3B5998;
    color: white;
    
  }
  .fa-youtube {
    background: #3B5998;
    color: white;
    
  }
  .fa-linkedin {
    background: #3B5998;
    color: white;
    
  }
 

  @media only screen and (max-width: 1025px) {
    .h-70{
      border: none;
      width: 100%;
      height: 160px;
      margin: auto;
      margin-top: 4%;
  }
  .mobile{
    margin-top: 10%;
  }
  .main_container{
    position:absolute;
    top: -4.7%;
  }
    
     
  .social-list{
    display: flex;
    width: 310px;
    margin: auto;

    list-style-type: none;
    padding: 2%;
    
  }
  .social-list li{
    padding: 1%;
  }

.card-body a{
    margin-left: 0%;
    margin-top: 0%;
} 

.card-body p{
    margin-top: 0px;
    margin-left:0%;
} 

  }


  @media only screen and (max-width: 768px) {
   
     
  .social-list{
    display: flex;
    width: 300px;
    margin: auto;
    list-style-type: none;
    padding: 2%;
    
  }

  .h-70{
    border: none;
    width: 100%;
    height: 130px;
    margin: auto;
 
}
  .mobile{
margin-top: 15%;
  }
  .logo img{
    width: 60%;
    margin: auto;
    margin-top: 5%;
}
     
  } 

  @media only screen and (max-width: 426px) {
    .h-70{
      border: none;
      width: 100%;
      height: 200px;
      margin: auto;
    
  }
    .logo img{
        width: 80%;
        margin: auto;
        padding: 0%;
    }
    .card-body a{
        margin-left: -80%;
        margin-top: -1%;
    } 
    .card-body p{
     
       
        top: -20%;
        margin-top: -15.5%;
    } 
    .profile img{
        border-radius: 50%;
        width: 30%;
        padding: 0%;
        margin: auto;
        margin-top: -50%;
    }
    
    .card-text{
        padding: 4.5%;
    }
    .main_container{
        
        width: 100%;
        margin: auto;
       padding-top: 6.5%;
        
    }
       .details{
        margin-top: -10.5%;
       }
    .mobile{
      margin-top: 12%;
    }
    } 
